:root {
    --primary: black;
    --warning: red;
    --success: green;
    --white: white;
}

/*default*/
.btn{
    user-select: none;
    cursor: pointer;
    margin: 5px;
    font-family: Georgia, Arial, sans-serif;
    font-weight: 400;
    border-radius: 5px;
    transition: transform 300ms ease-in-out;
}

.btn:hover{
    transform: scale(0.95,0.95);
}

/*active*/
.btnActive{
    transform: scale(0.95,0.95);
    box-shadow: inset 0 0 10px black;
}

/*STYLES*/
.btnPrimarySolid{
    background: var(--primary);
    color: var(--white);
}

.btnWarningSolid{
    background: var(--warning);
    color: var(--white);
}

.btnSuccessSolid{
    background: var(--success);
    color: var(--white);
}

.btnPrimaryOutline{
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btnWarningOutline{
    background: transparent;
    border: 2px solid var(--warning);
    color: var(--warning);
}

.btnSuccessOutline{
    background: transparent;
    border: 2px solid var(--success);
    color: var(--success);
}

/*SIZES*/
.btnMedium{
    padding: 10px;
    font-size: 18px;
}

.btnLarge{
    padding: 15px;
    font-size: 22px;
}
